In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
"""El archivo original que me descargo de Kaggle ocupa 48 Mb, tiene datos de los resultados de las olimpiadas
en los ultimos 120 anios, el archivo original lo filtre para obtener solo resultados de las ultimas olimpiadas,
lo exporto como un nuevo CSV, que es el archivo el que estoy trabajando, este fue el codigo que utilice 
para hacer la operacion descrita: 

    df = pd.read_csv("athlete_events.csv")
    df_filtrado = df.sort_values(by="Year",ascending=False)
    df2 = df_filtrado[df_filtrado["Year"]==2016]
    data = df2.to_csv('Athletes_Events.csv', index=False)
"""

In [13]:
# Importo el archivo 
atletas = pd.read_csv("Athletes_Events.csv")

In [3]:
# Imprimo las primeras filas para familiarizarme con la tabla. 
display(atletas.head())

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,99780,Maximilian Reinelt,M,27.0,195.0,98.0,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxed Eights,Silver
1,45859,Sophie Elizabeth Hansson,F,18.0,186.0,74.0,Sweden,SWE,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 100 metres Breaststroke,NaN
2,56244,Arsen Julfalakyan,M,29.0,166.0,76.0,Armenia,ARM,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",NaN
3,41810,Lalonde Keida Gordon,M,27.0,179.0,83.0,Trinidad and Tobago,TTO,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 4 x 400 metres Relay,NaN
4,41810,Lalonde Keida Gordon,M,27.0,179.0,83.0,Trinidad and Tobago,TTO,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 400 metres,NaN

In [4]:
# Imprimo la informacion para ver cuantos NAN tengo y los tipos que tengo en las columnas, algunos puntos:
# Hay atletas cuyo Weight y Height tienen valores NAN que sustituir√© por la media de las personas del mismo "Event"
# Aquellos atletas que no tengan medallas sustituire el NAN por 'Ninguna'
atletas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13688 entries, 0 to 13687
Data columns (total 15 columns):
ID        13688 non-null int64
Name      13688 non-null object
Sex       13688 non-null object
Age       13688 non-null float64
Height    13512 non-null float64
Weight    13465 non-null float64
Team      13688 non-null object
NOC       13688 non-null object
Games     13688 non-null object
Year      13688 non-null int64
Season    13688 non-null object
City      13688 non-null object
Sport     13688 non-null object
Event     13688 non-null object
Medal     2023 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.6+ MB

In [22]:
# Creo un diccionario que me devuelve como keys la columna por la q agrupo y su media por la columna q defino. 
def mean_by(col_group,col_func):
    df1 = atletas.pivot_table(index=[col_group],aggfunc={col_func:"mean"}).reset_index() 
    diccio = dict(zip(df1[col_group],df1[col_func]))
    return diccio

In [32]:
# Sustituyo los valores NAN de height por la media del evento al q pertenecen
atletas["Height"] = atletas[["Height","Event"]].apply(lambda x: mean_by("Event","Height")[x[1]] if math.isnan(x[0]) else x[0],axis=1)

# Sustituyo los valores NAN de Weight por la media del evento al q pertenecen
atletas["Weight"] = atletas[["Weight","Event"]].apply(lambda x: mean_by("Event","Weight")[x[1]] if math.isnan(x[0]) else x[0],axis=1)

# Sustituyo los NAN de las medallas por "Ninguna"
atletas["Medal"]= atletas["Medal"].fillna("Ninguna")

# Reviso la info para verificar que no hayan NANS
display(atletas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13688 entries, 0 to 13687
Data columns (total 15 columns):
ID        13688 non-null int64
Name      13688 non-null object
Sex       13688 non-null object
Age       13688 non-null float64
Height    13688 non-null float64
Weight    13688 non-null float64
Team      13688 non-null object
NOC       13688 non-null object
Games     13688 non-null object
Year      13688 non-null int64
Season    13688 non-null object
City      13688 non-null object
Sport     13688 non-null object
Event     13688 non-null object
Medal     13688 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13688 entries, 0 to 13687
Data columns (total 15 columns):
ID        13688 non-null int64
Name      13688 non-null object
Sex       13688 non-null object
Age       13688 non-null float64
Height    13688 non-null float64
Weight    13688 non-null float64
Team      13688 non-null object
NOC       13688 non-null object
Games     13688 non-null object
Year      13688 non-null int64
Season    13688 non-null object
City      13688 non-null object
Sport     13688 non-null object
Event     13688 non-null object
Medal     2023 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.6+ MB